.tic-tac-toe {
  /* text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px */

}

.gameboard {
  /* width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items:flex-end */
}

.board-btns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.cell {
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 2px;
    background-color: rgb(255, 243, 111);
    border-radius: 20px;
    font-size: 50px;
    cursor: pointer;
    border: 5px solid rgb(102, 51, 197);
}